<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque, qui enim.
      Alias soluta, nemo est nisi id quaerat blanditiis laboriosam sit in
      voluptates tenetur dolor! Eius culpa totam inventore illo?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia rerum
      delectus quo dolorem, distinctio officiis quis quibusdam ut iusto.
      Temporibus deleniti iure dolorum tempore perspiciatis laudantium aut odio
      nihil autem.
    </p>
  </body>
</html>
